.activity-list h3 {
    border-bottom: dashed 1px #EDEDED;
    margin-bottom:0px;
    padding-bottom: 15px;
}

.activity-list .item a.author{ color:#376499; }
.activity-list .item a.author:hover{ color:#f90; }
.activity-list .item .details { font-size:11px; }
.activity-list .item .details .date { color:#999; }
.activity-list .item .details .reply {
    padding-left: 5px;    
}
.activity-list .item .details .reply a {
    padding-left: 20px;
    background:url("../../images/icons/comment-small.png") no-repeat left center;
    color:#68809B;
}
.activity-list .item .details .reply a:hover {
    color:#f90;