html, body{
    margin:0; padding:0;
    font-family: 'Trebuchet MS', sans-serif;
    height:100%;
}

#error404{
    width:300px;
    height:250px;
    background:#EDEDED;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#error404 h1,
#error404 h2{
    margin:0;
    padding: 0;
}

#error404 h1{
    font-size:150px;
    color:#bbb;
}

#error404 h2{
    color:#666;
}

